body{
  background-color:powderblue;
}

h1{
  font-family: "Arial", Times, serif;
  color: red;
}

h2{
  line-height: 0.5cm;
  font-size: 1cm;
}

li{
  color:salmon
}

li{
  text-decoration: dashed;
}

.container{
  width: 500px;
  margin: 0 auto;
}

card{
  background: white;
  padding: 30px;
  border: 1px solid lightgrey;
}

card{
  text-align: center;
  background: white;
  padding: 30px;
  border: 1px solid lightgrey;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
